force-app/main/default/flows/CST_Queue_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>New_Customer</name>
        <label>New Customer</label>
        <locationX>566</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>NewCustomer.Arrival_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCustomer.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCustomer.Surname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCustomer.Service_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCustomer.Service_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCustomer.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Customer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Visitor</name>
        <choiceText>Visitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitor</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Customer_Type_Decision</name>
        <label>Customer Type Decision</label>
        <locationX>465</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>Corp Visitor</defaultConnectorLabel>
        <rules>
            <name>Customer_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visitor_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Service_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Area__c</picklistField>
        <picklistObject>CST_Queue__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_Detail_Choice</name>
        <dataType>String</dataType>
        <displayField>Service_Detail__c</displayField>
        <filters>
            <field>Service_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Area</elementReference>
            </value>
        </filters>
        <object>Service_Categories__mdt</object>
        <valueField>Service_Detail__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Title_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title__c</picklistField>
        <picklistObject>CST_Queue__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CST Queue Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CST Queue Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Customer</name>
        <label>Insert New Customer</label>
        <locationX>605</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Lookup_Reference</targetReference>
        </connector>
        <inputReference>NewCustomer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Reference</name>
        <label>Lookup Reference</label>
        <locationX>412</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCustomer.Id</elementReference>
            </value>
        </filters>
        <object>CST_Queue__c</object>
        <outputAssignments>
            <assignToReference>Queue_Number_Reference</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>231</locationX>
        <locationY>964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Queue_Number_Reference}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Type</name>
        <label>Customer Type</label>
        <locationX>283</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Visitor_Type</name>
            <choiceReferences>Customer</choiceReferences>
            <choiceReferences>Visitor</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Customer</defaultSelectedChoiceReference>
            <fieldText>Please select an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service</name>
        <label>Service</label>
        <locationX>306</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Detail_Screen</targetReference>
        </connector>
        <fields>
            <name>service_intro</name>
            <fieldText>&lt;p&gt;Please enter the main service area that you require help with.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Area</name>
            <choiceReferences>Service_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Area:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Detail_Screen</name>
        <label>Service Detail</label>
        <locationX>404</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Customer</targetReference>
        </connector>
        <fields>
            <name>Service_Detail</name>
            <choiceReferences>Service_Detail_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Detail</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>305</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service</targetReference>
        </connector>
        <fields>
            <name>intro_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Welcome to Rutland County Council&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter your details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title_Name</name>
            <choiceReferences>Title_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Customer_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CST_Queue__c</objectType>
    </variables>
    <variables>
        <name>Queue_Number_Reference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
