force-app/main/default/flows/CST_Queue_Pull.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>639</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>Customer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.Call_Forward_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.CST_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CST_Queue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Proceed_Dec</name>
        <label>Proceed</label>
        <locationX>489</locationX>
        <locationY>232</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CST Queue Pull {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CST Queue Pull</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_CST_Queue</name>
        <label>Lookup CST Queue</label>
        <locationX>105</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Selection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CST_Queue__c</object>
        <outputReference>Customer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Surname__c</queriedFields>
        <queriedFields>Service_Area__c</queriedFields>
        <queriedFields>Service_Detail__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CST_Queue</name>
        <label>Update CST Queue</label>
        <locationX>452</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Announce</targetReference>
        </connector>
        <inputReference>Customer</inputReference>
    </recordUpdates>
    <screens>
        <name>Announce</name>
        <label>Announce</label>
        <locationX>656</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Customer_Details</name>
            <fieldText>&lt;p&gt;You are about to pull this customer forward:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Customer.Title__c} {!Customer.First_Name__c} {!Customer.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Area: {!Customer.Service_Area__c}&lt;/p&gt;&lt;p&gt;Service Detail: {!Customer.Service_Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Selection</name>
        <label>Customer Selection</label>
        <locationX>288</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed_Dec</targetReference>
        </connector>
        <fields>
            <name>intro</name>
            <fieldText>&lt;p&gt;You are about to pull this customer forward:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Customer.Title__c} {!Customer.First_Name__c} {!Customer.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Area: {!Customer.Service_Area__c}&lt;/p&gt;&lt;p&gt;Service Detail: {!Customer.Service_Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Proceed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Proceed:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_CST_Queue</startElementReference>
    <status>Active</status>
    <variables>
        <name>Customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CST_Queue__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
