force-app/main/default/flows/CST_Queue_Pull.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>490</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Customer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Announce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.Call_Forward_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.CST_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CST_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_0</name>
        <label>Update Record</label>
        <locationX>326</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>Customer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.Call_Forward_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.CST_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CST_Queue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_0_0</name>
        <label>Update Record</label>
        <locationX>478</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>Customer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.Call_Forward_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.CST_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CST_Queue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_0_0_0</name>
        <label>Update Record</label>
        <locationX>629</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>Customer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.Call_Forward_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.CST_Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CST_Queue_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customerhascomeforward</name>
        <choiceText>Customer as come forward</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerAttend</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerLeft</name>
        <choiceText>Remove Customer From Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reset</name>
        <choiceText>Customer incorrectly announced - reset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reset</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Customer_Call_Decision</name>
        <label>Customer Call Decision</label>
        <locationX>454</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Update_Record_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Abandoned</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customerhascomeforward</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_0</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
        <rules>
            <name>Reset_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_0_0</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CST Queue Pull {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CST Queue Pull</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_CST_Queue</name>
        <label>Lookup CST Queue</label>
        <locationX>105</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Selection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CST_Queue__c</object>
        <outputReference>Customer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Surname__c</queriedFields>
        <queriedFields>Service_Area__c</queriedFields>
        <queriedFields>Service_Detail__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>QueuePosition__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CST_Queue</name>
        <label>Update CST Queue</label>
        <locationX>452</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Announce</targetReference>
        </connector>
        <inputReference>Customer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CST_Queue_0</name>
        <label>Update CST Queue</label>
        <locationX>478</locationX>
        <locationY>1132</locationY>
        <inputReference>Customer</inputReference>
    </recordUpdates>
    <screens>
        <name>Announce</name>
        <label>Announce</label>
        <locationX>452</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Call_Decision</targetReference>
        </connector>
        <fields>
            <name>Customer_Details</name>
            <fieldText>&lt;p&gt;You have requested that this customer is announced on the screen to come forward:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Customer.Title__c} {!Customer.First_Name__c} {!Customer.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Area: {!Customer.Service_Area__c}&lt;/p&gt;&lt;p&gt;Service Detail: {!Customer.Service_Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Update</name>
            <choiceReferences>Customerhascomeforward</choiceReferences>
            <choiceReferences>Reset</choiceReferences>
            <choiceReferences>CustomerLeft</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Update</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Selection</name>
        <label>Customer Selection</label>
        <locationX>288</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>intro</name>
            <fieldText>&lt;p&gt;You are about to pull this customer forward:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Customer.Title__c} {!Customer.First_Name__c} {!Customer.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Area: {!Customer.Service_Area__c}&lt;/p&gt;&lt;p&gt;Service Detail: {!Customer.Service_Detail__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Queue Position: {!Customer.QueuePosition__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nextaction</name>
            <fieldText>&lt;p&gt;Click &#39;Next&#39; to announce customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_CST_Queue</startElementReference>
    <status>Active</status>
    <variables>
        <name>Customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CST_Queue__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
